.about__container{
    display: flex;
    justify-content: space-around;
    padding: 40px ;
}

.box_about__me{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: 50%;
}

.box_about__me .section__title{
    font-size: var(--h2-font-size);   
    margin-bottom: 0;
}

.about__description{ 
    text-align: left;
    font-size: var(--normal-font-size);
    font-weight: var(--weigth-500);
}
.nav__name_about{
    font-weight: var(--weigth-600);
}

.nav__name_about {
    position: relative;
    display: inline-block;
    border-bottom: 2px solid transparent;
    font-weight: var(--weigth-600);
  }
  
  .nav__name_about::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0; 
    width: 0;
    height: 1.85px;
    background-color: var(--first-color);
    transition: width 0.3s ease, left 0.3s ease; 
  }
  
  .nav__name_about:hover::before {
    width: 100%; 
    left: 0; 
  }


.info_list_grid_about{
    display: flex;
    padding-left: 0;
}

.info_list_grid_about>.nav__item{
    margin-block: 0;
}

.info_list_grid_about>.nav__item>.nav__link{
    position: inherit;
    border-radius: 0%;
    background-color: inherit;
    width: inherit;
    height: inherit;
    margin-right: 2rem;
}



