.about__container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 50px; /* Espacio entre las columnas */
    justify-items: center;
  }
  
  .about__img {
    width: 60%; 
    height: auto; 
    object-fit: cover;
    border-radius: 30px;
    box-shadow: 0 0 8px hsla(0, 0%, 0% , 0.3);
    z-index: 1;
}
  
.box_about__me {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.box_about__me .section__title{
    margin-bottom: 0;
}

.section__title>span{
    color: var(--first-color);
}

.about__description_1,.about__description_2,.about__description_3{ 
    text-align: left;
    font-size: var(--normal-font-size);
    font-weight: var(--weigth-500);
}

.about__info{
    margin-bottom: 2rem;
    width: 80%;
}

.nav_about{
    margin-top: 1rem;
}

.nav__name_about {
    position: relative;
    display: inline-block;
    border-bottom: 2px solid transparent;
    font-weight: var(--weigth-600);
}
  
.nav__name_about::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0; 
    width: 0;
    height: 1.85px;
    background-color: var(--first-color);
    transition: width 0.3s ease, left 0.3s ease; 
    color: var(--first-color);
}

.nav__name_about:hover::before {
    width: 100%; 
    left: 0; 
}

.nav__link.active-nav .nav__name_about::before {
    width: 100%;
    left: 0;
}
.nav__link.active-nav .nav__name_about {
    color: var(--first-color);
    
}

.info_list_grid_about{
    display: flex;
    padding-left: 0;
}

.info_list_grid_about>.nav__item{
    margin-block: 0;
}

.info_list_grid_about>.nav__item>.nav__link{
    position: inherit;
    border-radius: 0%;
    background-color: inherit;
    width: inherit;
    height: inherit;
    margin-right: 2rem;
}
.info__title>svg{
    vertical-align: middle;
}




