.home{
    grid-template-columns: 10.32fr 7.68fr;
    align-items: center;
    /* padding: 40px; */
    height: 100vh;
}
.logo{
    color: var(--first-color);
}

.home__img{
    height: 80%;
    object-fit: cover;
    border-radius: 30px;
    /* box-shadow: 0 0 8px hsla(0, 0%, 0% , 0.3); */
    z-index: 1;
    margin-inline: auto;
} 

.home__data{
    background-color:  var(--fist-color);
    max-width: 600px;
    margin-inline: auto;
    padding-top: 1.25rem;
    text-align: left;
}


.home__title,
.home__title span {
    font-size: var(--h1-font-size);
}

.home__title {
    font-weight: var(--weigth-700);
    margin-bottom: 0.5rem;
    margin-top: 0;
}

.home__title span {
    position: relative;
    line-height: 1.24;
    color: var(--first-color);
    font-weight: var(--weigth-800);
}

.home__subtitle,.saludo{
    font-size: var(--h2-font-size);
    margin-top: 0;
    margin-bottom: 1rem;
    color: var(--title-color);
    font-weight: var(--weigth-700);
}

.saludo{
    margin-bottom: 0;
}

.home__description{
    margin-bottom: 2rem;
}

.home__description{
    font-weight: 500;
    width: 88%;
    font-size: var(--normal-font-size);
}

.color__block{
    position: fixed;
    height: 200%;
    width: 100%;
    background-color: var(--first-color);
    top: -50px;
    left: -98%;
    transform: rotate(-0deg);
}
.box__content-button-socials{
    display: flex;
    align-items: center;
}

.contact__socials-home{
    display: flex;
    column-gap: 16px;
    margin-top: 0;
}

.contact__socials-link{
    background-color: var(--container-color);
    color: var(--title-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 44px;
    transition: all 0.3s ease;
}

.contact__socials-link:hover{
    background-color: var(--first-color);
    color: var(--text-white);
}


@media screen and (max-width: 900px) {
    
    .grid{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home{
        display: flex;
        justify-content: flex-end;
        padding: 0;
        margin-top: 2rem;

    }

    .home__data{
        padding: 1rem;
        margin-top: 2rem;
    }

    .box__content-button-socials{
        flex-direction: column;
    }

    .box__content-button-socials>.button{
        margin-bottom: 2rem;
    }

    .color__block{
        display: none;
    }
  
}