.home{
    grid-template-columns: 4.32fr 7.68fr;
    align-items: center;
    padding: 40px;
    height: 100vh;
}

.home__img{
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    box-shadow: 0 0 8ox hsla(0, 0%, 0% , 0.3);
    z-index: 1;
} 

.home__data{
    background-color:  var(--fist-color);
    max-width: 600px;
    margin-inline: auto;
    padding-top: 1.25rem;
    text-align: left;
}


.home__title{
    font-size: var(--h1-font-size);
    font-weight: var(--weigth-600);
    margin-bottom: 0.5rem;
    margin-top: 0;
}

.home__title span{
    position: relative;
    font-size: var(--h1-font-size);
    line-height: 1.24;
    color: var(--first-color);
    font-weight: var(--weigth-800);
}

.home__data p,
.home__subtitle{
    font-size: var(--h2-font-size);
    margin-top: 0;
    margin-bottom: 0;
    color: var(--title-color);
}

.home__description{
    font-weight: 500;
    width: 88%;
}

.color__block{
    position: fixed;
    height: 200%;
    width: 100%;
    background-color: var(--first-color);
    top: -50px;
    left: -83%;
    transform: rotate(-15deg);
}