:root {
    --tittle-color: #282627;
    --text-color: #545454;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h4-font-size: 1.10rem;
    --h5-font-size: 1rem;
    --bg-color-alt: #333;
    --primary-color: #7dc3bb;
    --transition: ease 0.1s;
}


#header{
    /* position: absolute; */
    top: 0;
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding: 30px;
    align-items: center;
}

button{
    border: none;
    font-size: 2rem;
    background-color: #28121200;
}

ul{
    list-style: none;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo{
    color: var(--tittle-color);
    font: var(--h5-font-size);
}

.nav_menu{
    width: 40%;
    display: flex;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    padding: 1rem;
    border-radius: 30px; 
}

.nav_data{
    padding: 84px 84 px 0 154px;
    margin: auto;
    width: 100%;
}

.nav_list{
    padding-left: 0;
    display: flex;
    margin: auto;
}

.nav_list li{
    color: aliceblue;
    margin-right: 2.15rem;
}

.nav_list li:last-child {
    margin-right: 0;
}

.nav_link{
    color: var(--text-color);
    font-size: var(--h5-font-size);
    font-weight: 700;
    transition:  all  0.3s var(--transition) ;
}

.nav_link:hover{
    color: var(--primary-color );
}

.nav_btns{
    display: flex;
    align-items: center;
    column-gap: 40px;
}

.theme_toggler{
    /* position: relative; */
    height: 30px;
    width: 28px;
}

.theme_toggler button{
    font-size: var(--h4-font-size);
    display: flex; 
    align-items: center;
    cursor: pointer;
    /* position: absolute; */
    /* left: 0; */
    width: 100%;
}
.nav_toogle{
    display: none;
}

.nav_toogle span{
    position: absolute;
    left: 0;
    width: 10%;
    height: 2px;
    background-color: #000000;
}

.nav_toogle span:first-child{
    top: 8px;
}

.nav_toogle span:last-child{
    bottom: 8px;
}
