/* Formacion.css */
.info__school {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    border-left: 1px solid var(--border-color);
    position: relative;
}

.info__school.visible {
    opacity: 1;
    transform: translateY(0);
}

.info__item {
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem;
}

.info__item__school {
    font-weight: var(--weigth-600);
}

.info__item__description {
    font-weight: var(--weigth-400);
    font-size: var(--smaller-font-size);
    margin-bottom: 1rem;
    padding-left: 0.5rem;
    margin-top: 0.5rem;
}

.circle {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: var(--first-color);
    border-radius: 50%;
    left: -4px;
    transform: translateY(-50%);
    transition: opacity 0.5s ease; /* Solo la transición de opacidad, sin transformación */
    opacity: 0; /* Inicialmente invisible */
}

.circle.visible {
    opacity: 1;
}

.circle.visible {
    opacity: 1;
    transform: translateY(0);
}

.circle1 {
    top: 2%;
}

.circle2 {
    top: 23%;
}

.circle3 {
    top: 62%;
}

.circle4 {
    top: 82%;
}
