.info {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas de tamaño igual */
    gap: 2rem; /* Espacio entre columnas */
    width: calc(80% + 4rem); /* Ancho total incluyendo el espacio entre columnas */
    opacity: 0;
    transform: translateY(30px);
    /* transition: opacity 0.5s ease, transform 0.5s ease; */
  }
  
  .info.visible {
    opacity: 1;
    transform: translateY(0);
    width: 100%;
  }
  
  .info__item_info {
    padding: 0 0 8px;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--first-color);
    opacity: 0;
    transition: opacity 1s ease;
  }
  
  .info__item_info.visible {
    opacity: 1;
  }
  
  .info__title,
  .info_description,
  .url {
    font-size: var(--smaller-font-size);
    cursor: pointer;
  }
  
  .info__title {
    font-weight: var(--weigth-400);
  }
  
  .info_description,
  .url {
    font-weight: var(--weigth-600);
    margin-left: 0.75rem;
  }
  