.skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px; 
    opacity: 0; 
    transform: translateY(30px); 
    transition: opacity 0.5s ease, transform 0.5s ease; 
}

.skills.visible{
    opacity: 1;
    transform: translateY(0); 
}

.info__item_skills{
    border: 1px solid var(--border-color);
    border-radius: 5px;
    margin: 0;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 20px;
}
  
.info__title_skills {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    letter-spacing: 0;
    font-size: var(--smaller-font-size);
    font-weight: var(--weigth-400);
    
}
  
.info_icon>svg {
    color: var( --first-color);
    font-size: 2.5rem; 
}
  