/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
@media screen and (max-width: 1400px) {

  .container{
      max-width: calc(100% -18px);
  }
}

@media screen and (max-width: 1200px){

  .grip{
    gap: 20px;
  }

  .home__data{
    padding-right: 40px;
  }

  .home__title{
    font-size: var(--big-font-size);
  }

  .home__description{
    font-size: var(--small-font-size);
  }

  .info_list_grid_about>.nav__item>.nav__link{
    margin-right: 1rem;
  }
  


}