.portfolio{
    margin-top: 3rem;
}
.portfolio__container{
    grid-template-columns: repeat(2, 1fr);
    margin-top: 5rem;
}

.subtitle{
    margin-top: 0;
    letter-spacing: 0.4px;
    font-size: var(--large-font-size);
}

.portfolio__item{
    position: relative;
    border-radius: 10px;
    width: 88%;
    height: 96%;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 4px hsla(0, 0%, 50%, 0.2);
}

.portfolio__item_back_1{
    position: absolute;
    border-radius: 10px;
    box-shadow: 0 0 4px hsla(0, 0%, 50%, 0.2);
    border: 8px solid var(--first-color);
    width: 30%;
    height: 332px;
    left: 332px;
    top: 1868px;
    z-index: -1;
}

.portfolio__img{
    height: 344px;
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
    transform: translateY(-5px);
}

.portfolio__hover{
    background-color:  var(--first-color);
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    opacity: 0;
    transition: all 0.5s ease;
    padding: 3rem;
    align-content: center;
}

.portfolio__item:hover .portfolio__hover{
    opacity: 1;
}

.portfolio__title{
    color: var(--text-white);
    font-size: var(--h3-font-size);
    font-weight: var(--weight-500);
    transform:  translateY(-20px);
    transition: all 0.5s ease;
}

.description{
    font-weight: 500;
    text-align: left;
    color: var(--text-white);
    transform:  translateY(-20px);
    transition: all 0.5s ease;
}

.portfolio__item:hover .portfolio__title {
    transform: translateY(0);
}

.portfolio__item:hover .description{
    transform: translateY(0);
    margin-top: 0;

}

.portfolio__modal{
    position: fixed;
    inset: 0;
    background-color: hsla(0, 0%, 0%, 0.7);
    z-index: 1000;
    display: grid;
    place-items: center;
    padding: 0.9375rem;
}

.portfolio__modal-content{
    background-color: var(--container-color);
    max-width: 650px;
    width: 100%;
    padding: 2rem;
    border-radius: 10px;
    position: relative;
    cursor: auto;
}

.modal__close{
    position: absolute;
    top: -3.5%;
    right: -8.5%;
    width: 50px;
    height: 50px;
    filter: invert(0.8);
}

.modal__title{
    text-align: center;
    color: var(--first-color);
    font-size: var(--h2-font-size);
    letter-spacing: 2px;
    margin-bottom: 1.5rem;
    margin-top: 0;
}

.modal__list{
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    margin-bottom: 1.5rem;
    padding-left: 0;
}

.modal__item{
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.item__icon{
    display: flex;
    align-items: center;
}
.item__title{
    font-weight: 500;
    text-align: l;
}

.item__title,
.item__details{
    color: var(--title-font-size);
    font-size: var(--small-font-size);
}

.item__details{
    font-weight: var(--weight-600);
    vertical-align: middle;
}

.modal__img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
}


@media screen and (max-width: 900px) {
    .portfolio__container{
        margin-top: 2rem;
    }

    .portfolio{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
    }
    .portfolio__hover{
        padding: 1rem;
    }
    .subtitle{
        margin-bottom: 0;
    }

    .portfolio__title{
        margin: 3px;
    }
    
    .portfolio__container{
        grid-template-columns: repeat(1, 1fr);
    }

    .portfolio__img{
        height: 215px;
    }
    .modal__close{
        right: -0.5%;
    }
    .modal__img{
        height: 200px
    }

    .description{
        font-size: 12px;
        margin-top: 3rem;
    }
}
 